<html lang='en'>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Paintings Classification</title>
    <link rel='stylesheet' href='../static/style.css'>
    <script src='../static/client.js'></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Paintings classification</h1>
        <p class="lead text-muted">
            Use images of <strong>Aivazovsky</strong>, <strong>Cortes</strong>, <strong>VanGogh</strong>,<strong> Renoir</strong>
        </p>
        <div class='no-display'>
                <input id='file-input'
                        class='no-display'
                        type='file'
                        name='file'
                        accept='image/*'
                        onchange='showPicked(this)'>
        </div>
        <button class='choose-file-button' type='button' onclick='showPicker()'>Select Image</button>
        <div class='upload-label'>
            <label id='upload-label'>No file chosen</label>
        </div>
        <div>
            <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
        </div>
        <div class='analyze'>
                <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze</button>
            </div>
        <div class='result-label'>
            <label id='result-label'></label>
        </div>
        <!--<a href="#" class="btn btn-primary my-2">Main call to action</a>-->
        <!--<a href="#" class="btn btn-secondary my-2">Secondary action</a>-->
    </div>
</body>
</html>
